---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables

$masthead-background:   #428bca;
$masthead-color:        #cdddeb;
$masthead-color-hover:  #fff;

$footer-color:            #999;
$footer-background-color: #f9f9f9;
$footer-border-color:     #e5e5e5;



// Import partials from `sass_dir` (defaults to `_sass`)

@import
        "base",
        "layout",
        "masthead",
        "footer"
;
