{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Easy Call - Call{% endblock %}

{% block globals %}
var userName = '{{user}}';
{% endblock %}

{% block nav %}
{% if 'Caller' in groups %}<li><a href="{% url 'ui:call' %}">Call</a></li>{% endif %}
{% if 'Inbound' in groups %}<li><a href="{% url 'ui:search' %}">Search</a></li>{% endif %}
{% if 'Admin' in groups %}<li class="active"><a href="{% url 'ui:admin' %}">Admin</a></li>{% endif %}
{% endblock %}

{% block nav-right %}
<li><a href="{% url 'logout' %}">Log out ({{user}})</a></li>
{% endblock%}

{% block content %}
	<h2>Admin</h2>
{% endblock %}

{% block extrajs %}{% endblock %}