{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Easy Call - Call{% endblock %}

{% block globals %}
var userName = '{{user}}';
{% endblock %}

{% block nav %}
{% if 'Caller' in groups %}<li><a href="{% url 'ui:call' %}">Call</a></li>{% endif %}
{% if 'Inbound' in groups %}<li><a href="{% url 'ui:search' %}">Search</a></li>{% endif %}
{% if 'Admin' in groups %}<li class="active"><a href="{% url 'ui:upload' %}">Admin</a></li>{% endif %}
{% endblock %}

{% block nav-right %}
<li><a href="{% url 'logout' %}">Log out ({{user}})</a></li>
{% endblock%}

{% block content %}
<div class="container" ng-app="ecQueue">
  <div class="row">

    <div class="col-xs-3 col-sm-2">
      <div class="sidebar-module">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="{% url 'ui:upload' %}">Upload</a></li>
          <li role="presentation" class="active"><a href="{% url 'ui:queue' %}">Queuing</a></li>
          <li role="presentation"><a href="{% url 'ui:export' %}">Export</a></li>
        </ul>
      </div>
    </div>

    <div class="col-xs-8 col-sm-9">
      {% verbatim %}
      <div ng-controller="queueCtrl">
        <button type="button" class="btn btn-default btn-md pull-right" ng-click="refresh()">
          <i class="fa fa-refresh"></i>
        </button>
        <h2>Call Record Queue</h2>

        <table class="table">
          <thead>
            <tr>
              <th>List Type</th>
              <th>New</th>
              <th>In Progress</th>
              <th>Queued</th>
              <th><th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="list in listtypes" ec-report-row 
                data="list" queuefunc="doqueue(list)"></tr>
          </tbody>
        </table>
      </div>
      {% endverbatim %}
    </div>

  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static "app/js/queue/app.js" %}"></script>
<script src="{% static "app/js/queue/controllers.js" %}"></script>
<script src="{% static "app/js/queue/directives.js" %}"></script>
<script src="{% static "app/js/queue/services.js" %}"></script>
{% endblock %}