{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Easy Call - Call{% endblock %}

{% block globals %}
var userName = '{{user}}';
{% endblock %}

{% block nav %}
{% if 'Caller' in groups %}<li><a href="{% url 'ui:call' %}">Call</a></li>{% endif %}
{% if 'Inbound' in groups %}<li class="active"><a href="{% url 'ui:search' %}">Search</a></li>{% endif %}
{% if 'Admin' in groups %}<li><a href="{% url 'ui:admin' %}">Admin</a></li>{% endif %}
{% endblock %}

{% block nav-right %}
<li><a href="{% url 'logout' %}">Log out ({{user}})</a></li>
{% endblock%}

{% block content %}
  {% verbatim %}
  <div class="container app-body" ng-app="ecSearch">
  	<div ng-controller="searchCtrl">
	  	<h2>{{ foo }}</h2>
	  	<ec-foo></ec-foo>
  	</div>
  </div>
  {% endverbatim %}
{% endblock %}

{% block extrajs %}
<script src="{% static "app/js/search/app.js" %}"></script>
<script src="{% static "app/js/search/controllers.js" %}"></script>
<script src="{% static "app/js/search/directives.js" %}"></script>
<script src="{% static "app/js/search/filters.js" %}"></script>
{% endblock %}