<header class="main-masthead">
  <div class="container">
    <nav class="main-nav">
      <a class="main-nav-item" href="{{ '/' | prepend: site.baseurl }}">Home</a>
      <a class="main-nav-item" href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a>
      <a class="main-nav-item" href="{{ '/userdoc/' | prepend: site.baseurl }}">User Documentation</a>
      <a class="main-nav-item" href="{{ '/admindoc/' | prepend: site.baseurl }}">Admin Documentation</a>
      <a class="main-nav-item" href="{{ '/about/' | prepend: site.baseurl }}">About</a>
    </nav>
  </div>
</header>
