<div class=".container-fluid">
  
  <div class="row call-heading">
  <h2>Call Type: {{callType.display_name}}</h2>
  </div>

  <div class="row call-body">

    <div class="col-xs-7 pane-left">
      
      <div ec-demographics data="demographics"></div>
      <div ec-telephone data="demographics"></div>
      <div ec-address data="demographics"></div>
    
      <div class="panel panel-default">
        <div class="panel-body">
          Notes go here

        </div>
      </div>

    </div>
   
    <div class="col-xs-5 pane-right">
      <div class="panel panel-default">
        <div class="panel-body">
          Extra Info goes here
        </div>
      </div>
    </div>
  
  </div>

  <div class="row call-results">
  <ul>
    <li ng-repeat="result in callType.results">
      <a ec-action-button data="getNextRecord()" label="{{result}}"></a>
    </li> 
  </ul>
  
  </div>

</div> <!-- /.container-fluid -->