{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Log into Easy Call{% endblock %}

{% block nav-right %}
<li><a href="/admin">Administrator Sign in</a></li>
{% endblock%}

{% block content %}
<div class="container login-body">

    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
    
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Your username and password didn't match. Please try again.
        </div>
        {% endif %}

        <label for="id_username" class="sr-only">Username</label>
        <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
        <!--<div class="checkbox">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
        </div> -->
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
    </form>

</div> <!-- /container -->

{% endblock %}